<div *ngIf="isloged()">
    <button id="agregar" type="button" class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#addSkillsSModal"
        (click)="onOpenModal('add')">Agregar Skill<span class="sr-only">(current)</span></button>
</div>

<div id="even" cdkDropList [cdkDropListData]="skillssoft" cdkDropListConnectedTo="even"
    (cdkDropListDropped)="onDrop($event)" #skillssoftList="cdkDropList">

    <div class="soft" *ngFor="let skillsS of skillssoft" cdkDrag [cdkDragData]="skillsS"
        cdkDragPreviewContainer="parent">

        <div class="iconoMover" cdkDragHandle>
            <i class="bi bi-arrows-move"></i>
        </div>
        
        <div class="tec">
            <div *ngIf="isloged()">
                <button id="btnEdit" type="button" data-bs-toggle="modal" data-bs-target="#editSkillsSModal"
                    (click)="onOpenModal('edit', skillsS)"><i class="bi bi-pencil-square"
                        style="font-size: 1rem;"></i></button>

                <button id="btnDelete" type="button" data-bs-toggle="modal" data-bs-target="#deleteSkillsSModal"
                    (click)="onOpenModal('delete', skillsS)"><i class="bi bi-trash" style="font-size: 1rem;"
                        id="borrar"></i></button>
            </div>
            <h5><i id="itec" class={{skillsS.iconoSkillS}}></i>{{skillsS.tituloSkillS}}</h5>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="" aria-valuemin="0"
                    aria-valuemax="100">{{skillsS.progSkillS}}%</div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Agregar Soft Skills -->

<div class="modal fade" id="addSkillsSModal" tabindex="-1" aria-labelledby="addSkillsSModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="MyModal">
                <h5 class="modal-title" id="addSkillsSModalLabel">Agregar Soft Skills</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="MyModal">
                <form #addForm="ngForm" (ngSubmit)="onAddSkillsSoft(addForm)">
                    <div class="mb-3">
                        <label for="iconoSkillS" class="col-form-label">Icono:</label>
                        <input type="text" name="iconoSkillS" ngModel class="form-control" id="iconoSkillS"
                            placeholder="fa-solid fa-hand-holding-heart" required />
                    </div>
                    <div class="mb-3">
                        <label for="tituloSkillS" class="col-form-label">Titulo:</label>
                        <input type="text" name="tituloSkillS" ngModel class="form-control" id="tituloSkillS"
                            placeholder="Empatía" required />
                    </div>
                    <div class="mb-3">
                        <label for="progSkillS" class="col-form-label">Progreso:</label>
                        <input type="text" name="progSkillS" ngModel class="form-control" id="progSkillS"
                            placeholder="98" required />
                    </div>
                    <div class="modal-footer" id="MyModal">
                        <button type="button" id="add-skillssoft-form" class="btn btn-secondary"
                            data-bs-dismiss="modal">Cerrar</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar Soft Skills -->

<div class="modal fade" id="editSkillsSModal" tabindex="-1" aria-labelledby="editSkillsSModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="MyModal">
                <h5 class="modal-title" id="editSkillsSModalLabel">Editar Soft Skills</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="MyModal">
                <form #editForm="ngForm">
                    <input type="hidden" ngModel="{{ editskillssoft?.idSkillS }}" name="idSkillS" class="form-control"
                        id="idSkillS1" placeholder="" />

                    <div class="mb-3">
                        <label for="iconoSkillS" class="col-form-label">Icono:</label>
                        <input type="text" name="iconoSkillS" ngModel="{{editskillssoft?.iconoSkillS}}"
                            class="form-control" id="iconoSkillS1" data-bs-whatever="@getbootstrap" placeholder="" />
                    </div>
                    <div class="mb-3">
                        <label for="tituloSkillS" class="col-form-label">Titulo:</label>
                        <input type="text" name="tituloSkillS" ngModel="{{editskillssoft?.tituloSkillS}}"
                            class="form-control" id="tituloSkillS1" data-bs-whatever="@getbootstrap" placeholder="" />
                    </div>

                    <div class="mb-3">
                        <label for="progSkillS" class="col-form-label">Progreso:</label>
                        <input type="text" name="progSkillS" ngModel="{{editskillssoft?.progSkillS}}"
                            class="form-control" id="progSkillS1" data-bs-whatever="@getbootstrap" placeholder="" />
                    </div>
                    <div class="modal-footer" id="MyModal">
                        <button type="button" id="1" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                        <button (click)="onUpdateSkillsSoft(editForm.value)" data-bs-dismiss="modal"
                            class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Borrar Soft Skills -->

<div class="modal fade" id="deleteSkillsSModal" tabindex="-1" aria-labelledby="deleteSkillsSModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="MyModal">
                <h5 class="modal-title" id="deleteSkillsSModal">Borrar Soft Skills</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="MyModal">
                <p style="color: rgb(255, 255, 255)">
                    Estás seguro que quieres Eliminar
                    {{ deleteskillssoft?.tituloSkillS }}?
                </p>
                <div class="modal-footer">
                    <button type="button" id="1" class="btn btn-secondary" data-bs-dismiss="modal">No Eliminar</button>

                    <button (click)="onDeleteSkillsSoft(deleteskillssoft!.idSkillS)" data-bs-dismiss="modal"
                        class="btn btn-primary">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>