<div *ngIf="isloged()">
    <button id="agregar" type="button" class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#addSkillsBModal"
        (click)="onOpenModal('add')">Agregar Skill<span class="sr-only">(current)</span></button>
</div>
<div id="even" cdkDropList [cdkDropListData]="skillsback" cdkDropListConnectedTo="even"
    (cdkDropListDropped)="onDrop($event)" #skillsbackList="cdkDropList">

    <div class="back" *ngFor="let skillsB of skillsback" cdkDrag [cdkDragData]="skillsB"
        cdkDragPreviewContainer="parent">

        <div class="iconoMover" cdkDragHandle>
            <i class="bi bi-arrows-move"></i>
        </div>
        
        <div class="tec">
            <div *ngIf="isloged()">
                <button id="btnEdit" type="button" data-bs-toggle="modal" data-bs-target="#editSkillsBModal"
                    (click)="onOpenModal('edit', skillsB)"><i class="bi bi-pencil-square"
                        style="font-size: 1rem;"></i></button>

                <button id="btnDelete" type="button" data-bs-toggle="modal" data-bs-target="#deleteSkillsBModal"
                    (click)="onOpenModal('delete', skillsB)"><i class="bi bi-trash"
                        style="font-size: 1rem;"></i></button>
            </div>
                <h5><i id="itec" class={{skillsB.iconoSkillB}}></i>{{skillsB.tituloSkillB}}</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="" aria-valuemin="0"
                        aria-valuemax="100">{{skillsB.progSkillB}}%</div>
            </div>
        </div>
    </div>
</div>
<!-- <div> 
    <button (click)="guardarCambios(skillsback)"
                            class="btn btn-primary">Guardar cambios</button>
</div> -->

<!-- Modal Agregar Skill Back -->

<div class="modal fade" id="addSkillsBModal" tabindex="-1" aria-labelledby="addSkillsBModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="MyModal">
                <h5 class="modal-title" id="addSkillsBModalLabel">Agregar Skill Back end</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="MyModal">
                <form #addForm="ngForm" (ngSubmit)="onAddSkillsback(addForm)">
                    <div class="mb-3">
                        <label for="iconoSkillB" class="col-form-label">Icono:</label>
                        <input type="text" name="iconoSkillB" ngModel class="form-control" id="iconoSkillB"
                            placeholder="fa-brands fa-java" required />
                    </div>
                    <div class="mb-3">
                        <label for="tituloSkillB" class="col-form-label">Titulo:</label>
                        <input type="text" name="tituloSkillB" ngModel class="form-control" id="tituloSkillB"
                            placeholder="Java" required />
                    </div>
                    <div class="mb-3">
                        <label for="progSkillB" class="col-form-label">Progreso:</label>
                        <input type="text" name="progSkillB" ngModel class="form-control" id="progSkillB"
                            placeholder="55" required />
                    </div>
                    <div class="modal-footer" id="MyModal">
                        <button type="button" id="add-skillsb-form" class="btn btn-secondary"
                            data-bs-dismiss="modal">Cerrar</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar Skill Back -->

<div class="modal fade" id="editSkillsBModal" tabindex="-1" aria-labelledby="editSkillsBModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="MyModal">
                <h5 class="modal-title" id="editSkillsBModalLabel">Editar Skills Back</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="MyModal">
                <form #editForm="ngForm">

                    <input type="hidden" ngModel="{{ editskillsback?.idSkillB }}" name="idSkillB" class="form-control"
                        id="idSkillB" placeholder="" />

                    <div class="mb-3">
                        <label for="iconoSkillB" class="col-form-label">Icono:</label>
                        <input type="text" name="iconoSkillB" ngModel="{{editskillsback?.iconoSkillB}}"
                            class="form-control" id="iconoSkillB1" data-bs-whatever="@getbootstrap" placeholder="" />
                    </div>

                    <div class="mb-3">
                        <label for="tituloSkillB" class="col-form-label">Titulo:</label>
                        <input type="text" name="tituloSkillB" ngModel="{{editskillsback?.tituloSkillB}}"
                            class="form-control" id="tituloSkillB1" data-bs-whatever="@getbootstrap" placeholder="" />
                    </div>

                    <div class="mb-3">
                        <label for="progSkillB" class="col-form-label">Progreso:</label>
                        <input type="text" name="progSkillB" ngModel="{{editskillsback?.progSkillB}}"
                            class="form-control" id="progSkillB1" data-bs-whatever="@getbootstrap" placeholder="" />
                    </div>
                    <div class="modal-footer" id="MyModal">
                        <button type="button" id="1" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                        <button (click)="onUpdateSkillsback(editForm.value)" data-bs-dismiss="modal"
                            class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Borrar Skill Back -->

<div class="modal fade" id="deleteSkillsBModal" tabindex="-1" aria-labelledby="deleteSkillsBModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="MyModal">
                <h5 class="modal-title" id="deleteSkillsBModal">Borrar Skill Back end</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="MyModal">
                <p style="color: rgb(255, 255, 255)">
                    Estás seguro que quieres Eliminar
                    {{ deleteskillsback?.tituloSkillB }}?
                </p>
                <div class="modal-footer">
                    <button type="button" id="1" class="btn btn-secondary" data-bs-dismiss="modal">No Eliminar</button>

                    <button (click)="onDeleteSkillsback(deleteskillsback!.idSkillB)" data-bs-dismiss="modal"
                        class="btn btn-primary">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>