
<div class="back" *ngFor="let skillsB of skillsback">
    <div class="tec">
        <i class="bi bi-pencil-square" style="font-size: 1rem;"></i>
        <i class="bi bi-trash" style="font-size: 1rem;" id="borrar"></i>
        <h5><i id="itec" class={{skillsB.iconoSkillB}}></i>{{skillsB.tituloSkillB}}</h5>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="" aria-valuemin="0"
                aria-valuemax="100">{{skillsB.progSkillB}}%</div>
        </div>
    </div>
</div>