.tec{
    margin-bottom: 25px;
    margin-right: 80px;
    margin-left: 50px;
}

i{
    color: #f033b1;
    margin-bottom: 20px;
}

.iconoMover{
    text-align: center;
}


#itec{
    color:  rgb(196, 200, 200);
    margin-right: 3px;
}

.progress-bar{
    background-color: #f033b1;
}

.btn{
    border-color: #f033b1;
    margin-left: 18px;
    color: #f033b1;
    background: transparent;
}

#agregar{
    margin-left: 150px;
    margin-bottom: 20px;
}

#btnEdit{
    background: transparent;
    border: none;
}

#btnDelete{
    margin-left: 240px;
    background: transparent;
    border: none;
}

#MyModal{
    background-color: rgb(43, 43, 43) !important;
    border-color: #f033b1;
    color: rgb(196, 200, 200);
}

.btn-close{
    background-color: #f033b1 !important;
}

input, textarea {
    background-color: rgb(43, 43, 43) !important;
    border-color: #f033b1;
    color: rgb(196, 200, 200) !important;
}

@media screen and (max-width: 400px){
    .tec{
        margin-left: 80px;
    }
}

@media screen and (max-width: 400px){
    #agregar{
        margin-left: 100px;
    }
}

@media screen and (max-width: 400px){
    #btnDelete{
        margin-left: 120px;
    }
}

@media screen and (min-width: 400px) and (max-width: 750px){
    #agregar{
        margin-left: 130px;
    }
}

@media screen and (min-width: 400px) and (max-width: 750px){
    #btnDelete{
        margin-left: 200px;
    }
}

@media screen and (min-width: 400px) and (max-width: 750px){
    .progress{
        margin-left: 10px;
    }
}

@media screen and (min-width: 400px) and (max-width: 750px){
    #itec{
        margin-left: 10px;
    }
}