<div class="front" *ngFor="let skillsF of skillsfront">
    <div class="tec">
        <i class="bi bi-pencil-square" style="font-size: 1rem;"></i>
        <i class="bi bi-trash" style="font-size: 1rem;" id="borrar"></i>
        <h5><i id="itec" class={{skillsF.iconoSkillF}}></i>{{skillsF.tituloSkillF}}</h5>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="" aria-valuemin="0"
                aria-valuemax="100">{{skillsF.progSkillF}}%</div>
        </div>
    </div>
</div>