.row{
    display: flex;
}

i{
    color: #f033b1;
    margin-right: 5px;
}

#btnEdit{
    background: transparent;
    border: none;
}

#titEdu{
    margin-left: 30px;
}

#edit{
    margin-left: 15px;
}


#sobre{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

img{
    width: 80%;
    border-radius: 40%;
    margin-left: 40px;
}


#edu{
    margin-left: 80px;
}

@media screen and (max-width: 400px){
    #sobre{
        margin-left: 40px;
        margin-right: 20px;
    }

    p{
        margin-right: 40px;
    }
}

@media screen and (max-width: 400px){
    img{
        margin-bottom: 60px;
    }
}

@media screen and (max-width:400px){
    #edu, #exp{
        margin-left: 80PX;
        margin-bottom: 60px;
    }
}

@media screen and (max-width:400px){
    h3{
        margin-left: -20px;
    }
}

@media screen and (min-width: 400px) and (max-width: 750px){
    #sobre{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 400px) and (max-width: 750px){
    img{
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 400px) and (max-width: 750px){
    #edu, #exp{
        margin-left: 80PX;
        margin-bottom: 60px;
    }
}