<div class="row" id="acerca">
    <div id="sobre" class="col-xs-8 col-md-10 col-lg-10" *ngIf="persona">
        <h1><i class="bi bi-person-heart"></i>Acerca de Mí</h1>
        <p>{{persona.descripcion}}</p>
    </div>
    <div id="img-sobre" class="col-xs-10 col-md-3 col-lg-3">
        <img src= "https://i.ibb.co/1R8vyjC/img-about.webp" alt="">
    </div>
    <div id="edu" class="col-xs-12 col-md-4 col-lg-4" >
        <h3><i id="titEdu" class="bi bi-journal-code"></i>Educación</h3>
        <app-educacion></app-educacion>
    </div>
    <div id="exp" class="col-xs-12 col-md-4 col-lg-4" >
        <h3><i class="bi bi-card-checklist"></i>Experiencia laboral</h3>
        <app-experiencia></app-experiencia>
</div>
