<div class="sidebar-nav">
    <nav class="navbar navbar-dark  fixed-top">
        <div class="container">
            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menus List -->
            <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel" *ngIf="persona">
                <div class="offcanvas-body">
                    <ul class="navbar-nav">
                        <div *ngIf="isloged()">
                            <button id="btnEdit" type="button" data-bs-toggle="modal" data-bs-target="#editPersonaModal"
                                (click)="onOpenModal('edit', persona)"><i class="bi bi-pencil-square"
                                    style="font-size: 1rem;"></i></button>
                        </div>

                        <img id="fotoPerfil" src={{persona.fotoPerfil}} alt="">
                        <h3>{{persona.nombre}}</h3>

                        <li><a href={{persona.github}} target="_blank"><i class="bi bi-github"></i> <span
                                    class="item-text">Github</span></a></li>

                        <li><a href={{persona.linkedIn}} target="_blank"><i class="bi bi-linkedin"></i> <span
                                    class="item-text">Linkedin</span></a></li>

                        <li><a href="#"><i class="bi bi-house-heart"></i> <span class="item-text">Inicio</span></a></li>

                        <li><a href="#acerca"><i class="bi bi-person-heart"></i> <span class="item-text">Acerca de
                                    mí</span></a></li>

                        <li><a href="#sobreSkills"><i class="bi bi-person-check-fill"></i> <span
                                    class="item-text">Skills</span></a>
                        </li>

                        <li><a href="#proyectos"><i class="bi bi-file-code-fill"></i> <span
                                    class="item-text">Proyectos</span></a></li>
                        <img id="logo" src="../../../assets/APLogo.png" alt="">
                    </ul>
                </div>
            </div>
            <div *ngIf="!isloged()" class="nav-item">
                <a data-bs-toggle="modal" data-bs-target="#myModal" class="nav-link active" class="btn tooltips"
                    data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i
                        class="fa-solid fa-user"></i>
                </a>
            </div>
            <div *ngIf="isloged()" class="nav-item">
                <a (click)="handleClear()" (click)="autenticacionService.logoutUser()" class="nav-link active"
                    class="btn tooltips"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </div>
        </div>
    </nav>
</div>

<!-- Login modal-->
<div class="modal fade bd-example-modal-lg" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 20px">
            <div class="modal-header" id="myModal">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="myModal">
                <form [formGroup]="form" class="m-5" (ngSubmit)="onEnviar($event)">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                        <input formControlName="email" [ngClass]="{
                    'is-invalid': Email?.errors && Email?.touched,
                    'is-valid': !Email?.errors && Email?.touched
                }" type="email" class="form-control" id="exampleFormControlInput1" placeholder="email"
                            autocomplete="off" required />
                        <div *ngIf="Email?.errors && Email?.touched">
                            <p *ngIf="Email?.hasError('required')" class="text-danger">
                                El email es requerido
                            </p>
                            <p *ngIf="Email?.hasError('email')" class="text-danger">
                                El formato del email debe ser valido
                            </p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input [ngClass]="{
                    'is-invalid': Password?.errors && Password?.touched,
                    'is-valid': !Password?.errors && Password?.touched
                }" formControlName="password" type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="password" autocomplete="off" required />
                        <div *ngIf="Password?.errors && Password?.touched">
                            <p *ngIf="Password?.hasError('required')" style="color: black" class="text-danger">
                                El password es requerido
                            </p>
                        </div>
                    </div>
                    <button id="btnCerrar" type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                        Enviar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal Editar Persona -->

<div class="modal fade" id="editPersonaModal" tabindex="-1" aria-labelledby="editPersonaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="MyModal">
                <h5 class="modal-title" id="editPersonaModal">Editar Persona</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="MyModal">
                <form #editForm="ngForm">

                    <input type="hidden" ngModel="{{ editPersona?.id }}" name="id" class="form-control" id="id1"
                        placeholder="" />

                    <div class="mb-3">
                        <label for="fotoPerfil" class="col-form-label">Foto de Perfil</label>
                        <input type="text" name="fotoPerfil" ngModel="{{editPersona?.fotoPerfil}}" class="form-control"
                            id="fotoPerfil1" data-bs-whatever="@getbootstrap" placeholder="" />
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="col-form-label">Nombre y Apellido:</label>
                        <input type="text" name="nombre" ngModel="{{editPersona?.nombre}}" class="form-control"
                            id="nombre1" data-bs-whatever="@getbootstrap" placeholder="" />
                    </div>
                    <div class="mb-3">
                        <label for="titulo" class="col-form-label">Titulo:</label>
                        <input type="text" name="titulo" ngModel="{{editPersona?.titulo}}" class="form-control"
                            id="titulo1" data-bs-whatever="@getbootstrap" placeholder="" />
                    </div>
                    <div class="mb-3">
                        <label for="banner" class="col-form-label">Banner</label>
                        <input type="text" name="banner" ngModel="{{editPersona?.banner}}" class="form-control"
                            id="banner1" data-bs-whatever="@getbootstrap" placeholder="" />
                    </div>
                    <div class="mb-3">
                        <label for="github" class="col-form-label">Github:</label>
                        <input type="text" name="github" ngModel="{{editPersona?.github}}" class="form-control"
                            id="github1" data-bs-whatever="@getbootstrap" placeholder="" />
                    </div>
                    <div class="mb-3">
                        <label for="linkedIn" class="col-form-label">LinkedIn:</label>
                        <input type="text" name="linkedIn" ngModel="{{editPersona?.linkedIn}}" class="form-control"
                            id="linkedIn1" data-bs-whatever="@getbootstrap" placeholder="" />
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="col-form-label">Descripción:</label>
                        <textarea type="text" name="descripcion" ngModel="{{ editPersona?.descripcion}}"
                            class="form-control" id="descripcion1" placeholder=""></textarea>
                    </div>
                    <div class="modal-footer" id="MyModal">
                        <button type="button" id="1" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                        <button (click)="onUpdatePersona(editForm.value)" data-bs-dismiss="modal"
                            class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>