<div class="sidebar-nav">
    <nav class="navbar navbar-dark  fixed-top">
        <div class="container">
            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menus List -->
            <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-body">
                    <ul class="navbar-nav"><i id="edit" class="bi bi-pencil-square" style="font-size: 1rem;"></i>
                        <img id="fotoPerfil"  src="https://i.ibb.co/b3t5tBQ/Foto-Perfil.jpg" alt="">
                        <h3>Carreras Licia</h3>
                        <li><a href="#"><i class="bi bi-github"></i> <span class="item-text">Github</span></a></li>
                        <li><a href="#"><i class="bi bi-linkedin"></i> <span
                                    class="item-text">Linkedin</span></a></li>
                        <li><a href="#"><i class="bi bi-house-heart"></i> <span class="item-text">Inicio</span></a></li>
                        <li><a href="#"><i class="bi bi-person-heart"></i> <span class="item-text">Acerca de mí</span></a></li>
                        <li><a href="#"><i class="bi bi-person-check-fill"></i> <span class="item-text">Skills</span></a>
                        </li>
                        <li><a href="#"><i class="bi bi-file-code-fill"></i> <span class="item-text">Proyectos</span></a></li>
                        <img id="logo" src="../../../assets/APLogo.png" alt="">
                    </ul>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-outline-secondary" ><i class="bi bi-person-circle"></i>Ingresar</button>

                <button type="button" class="btn btn-outline-secondary"><i class="bi bi-person-circle"></i>Cerrar Sesion</button>
            </div>
        </div>
    </nav>
</div>