.card {
    margin-top: 20px;
    border: 2px solid #f033b1; 
}

.card-header{
    border-bottom: 0.5px solid #f033b1;
}

i{
    color: #f033b1;
    margin-bottom: 20px;
}

#borrar{
    margin-left: 160px;

}