<div *ngIf="isloged()">
    <button type="button" class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#addExperienciaModal"
        (click)="onOpenModal('add')">Agregar exp. laboral<span class="sr-only">(current)</span></button>
</div>
<div id="even" cdkDropList [cdkDropListData]="experiencias" cdkDropListConnectedTo="even"
    (cdkDropListDropped)="onDrop($event)" #experienciaList="cdkDropList" class="row mt-2">

    <div class="exp" *ngFor="let experiencia of experiencias" cdkDrag [cdkDragData]="experiencia"
        cdkDragPreviewContainer="parent">
        
        <div class="iconoMover" cdkDragHandle>
            <i class="bi bi-arrows-move"></i>
        </div>
        
        <div class="card bg-transparent mb-3" style="max-width: 15rem;">
            <div class="card-header">

                <div *ngIf="isloged()">
                    <button id="btnEdit" type="button" data-bs-toggle="modal" data-bs-target="#editExperienciaModal"
                        (click)="onOpenModal('edit', experiencia)"><i class="bi bi-pencil-square"
                            style="font-size: 1rem;"></i></button>

                    <button id="btnDelete" type="button" data-bs-toggle="modal" data-bs-target="#deleteExperienciaModal"
                        (click)="onOpenModal('delete', experiencia)"><i class="bi bi-trash" style="font-size: 1rem;"
                            id="borrar"></i></button>
                </div>

                <h4>{{experiencia.tituloExp}}</h4>
            </div>

            <div class="card-body">
                <h5 class="card-title">{{experiencia.fechaExp}}</h5>
                <p class="card-text">{{experiencia.descExp}}</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal Agregar Experiencia -->

<div class="modal fade" id="addExperienciaModal" tabindex="-1" aria-labelledby="addExperienciaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="MyModal">
                <h5 class="modal-title" id="addExperienciaModalLabel">Agregar Experiencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="MyModal">
                <form #addForm="ngForm" (ngSubmit)="onAddExperiencia(addForm)">
                    <div class="mb-3">
                        <label for="tituloExp" class="col-form-label">Empresa:</label>
                        <input type="text" name="tituloExp" ngModel class="form-control" id="tituloExp"
                            placeholder="Mercado Libre" required />
                    </div>
                    <div class="mb-3">
                        <label for="fechaExp" class="col-form-label">Fecha inicio-fin:</label>
                        <input type="text" name="fechaExp" ngModel class="form-control" id="fechaExp"
                            placeholder="2020-2021" required />
                    </div>
                    <div class="mb-3">
                        <label for="descExp" class="col-form-label">Descripción:</label>
                        <textarea type="text" name="descExp" ngModel class="form-control" id="descExp"
                            placeholder="Tareas realizadas" required></textarea>
                    </div>
                    <div class="modal-footer" id="MyModal">
                        <button type="button" id="add-experiencia-form" class="btn btn-secondary"
                            data-bs-dismiss="modal">Cerrar</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar Experiencia -->

<div class="modal fade" id="editExperienciaModal" tabindex="-1" aria-labelledby="editExperienciaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="MyModal">
                <h5 class="modal-title" id="editExperienciaModalLabel">Editar Experiencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="MyModal">
                <form #editForm="ngForm">
                    <div class="mb-3">
                        <label for="tituloExp" class="col-form-label">Empresa:</label>
                        <input type="text" name="tituloExp" ngModel="{{editExperiencia?.tituloExp}}"
                            class="form-control" id="tituloExp1" data-bs-whatever="@getbootstrap" placeholder="" />
                    </div>
                    <input type="hidden" ngModel="{{ editExperiencia?.idExp }}" name="idExp" class="form-control"
                        id="idExp1" placeholder="" />
                    <div class="mb-3">
                        <label for="fechaExp" class="col-form-label">Fecha inicio-fin:</label>
                        <input type="text" name="fechaExp" ngModel="{{editExperiencia?.fechaExp}}" class="form-control"
                            id="fechaExp1" data-bs-whatever="@getbootstrap" placeholder="" />
                    </div>

                    <div class="mb-3">
                        <label for="descExp" class="col-form-label">Descripción:</label>
                        <textarea type="text" name="descExp" ngModel="{{ editExperiencia?.descExp}}"
                            class="form-control" id="descExp1" placeholder=""></textarea>
                    </div>
                    <div class="modal-footer" id="MyModal">
                        <button type="button" id="1" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                        <button (click)="onUpdateExperiencia(editForm.value)" data-bs-dismiss="modal"
                            class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Borrar Experiencia -->

<div class="modal fade" id="deleteExperienciaModal" tabindex="-1" aria-labelledby="deleteExperienciaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="MyModal">
                <h5 class="modal-title" id="deleteExperienciaModal">Borrar Experiencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="MyModal">
                <p style="color: rgb(255, 255, 255)">
                    Estás seguro que quieres Eliminar
                    {{ deleteExperiencia?.tituloExp }}?
                </p>
                <div class="modal-footer">
                    <button type="button" id="1" class="btn btn-secondary" data-bs-dismiss="modal">No Eliminar</button>

                    <button (click)="onDeleteExperiencia(deleteExperiencia!.idExp)" data-bs-dismiss="modal"
                        class="btn btn-primary">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>