.banner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: 1;
}

@media (min-width: 1100px) {


    .banner {
        background-attachment: fixed;
        }
    }


.texto{
    position: relative;
    z-index: 2; 
    color: rgb(196, 200, 200);
    text-shadow: 10px 10px 10px black;
    font-family: 'Pacifico', cursive;
}

p{
    margin-top: 10px;
    margin-left: 25px;
    text-shadow: 10px 10px 10px 10px black;
}
