<div class="row">
    <div id="nombre" class="col-xs-12 col-md-3 col-lg-3">
        <h5><i class="bi bi-c-circle"></i>Carreras Licia</h5>
        <h6>Trelew - Chubut</h6>
    </div>
    <div id="logo" class="col-xs-12 col-md-3 col-lg-3">
        <img style="width:50%; height:50%;" src="https://i.ibb.co/xYBZF7p/Dise-o-sin-t-tulo-1.png" alt="">
    </div>
    <div id="prog" class="col-xs-12 col-md-3 col-lg-3">
        <img style="width:40%; height:40%;" src="../../../assets/APLogo.png" alt="">
    </div>

</div>
