#icono{
    color: #f033b1;
    margin-right: 5px;
}

#sobreSkills{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#front, #back, #soft{
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-decoration: underline 5px #f033b1;
}

.tec{
    margin-bottom: 25px;
    margin-right: 80px;
    margin-left: 50px;
}

#itec{
    color:  rgb(196, 200, 200);
    margin-right: 3px;
}

.progress-bar{
    background-color: #f033b1;
}

@media screen and (max-width: 650px){
    #sobreSkills{
        margin-left: 20px;
    }
}

@media screen and (max-width: 650px){
    #back, #soft{
        margin-top: 30px;
    }
}

@media screen and (max-width: 650px){
    .tec{
        margin-left: 80px;
    }
}