<div class="row">
    <div id="sobreSkills" class="col-xs-12 col-md-10 col-lg-10">
        <h1><i id="icono" class="bi bi-person-check-fill"></i>Skills</h1>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-4">
        <h3 id="front">Front end</h3>
        <div class="tec">
            <h5><i id="itec" class="fa-brands fa-html5"></i>Html</h5>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="" aria-valuemin="0"
                aria-valuemax="100">75%</div>
            </div>
        </div>
        <div class="tec">
            <h5><i id="itec" class="fa-brands fa-angular"></i>Angular/Typescript</h5>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="" aria-valuemin="0"
                aria-valuemax="100">60%</div>
            </div>
        </div>
        <div class="tec">
            <h5><i id="itec" class="fa-brands fa-bootstrap"></i>Bootstrap-Css</h5>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="" aria-valuemin="0"
                aria-valuemax="100">65%</div>
            </div>
        </div>
        <div class="tec">
            <h5><i id="itec" class="fa-brands fa-square-js"></i>Javascript</h5>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="" aria-valuemin="0"
                aria-valuemax="100">70%</div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-4">
        <h3 id="back">Back end</h3>
        <div class="tec">
            <h5><i id="itec" class="fa-solid fa-database"></i>MySql</h5>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="" aria-valuemin="0"
                aria-valuemax="100">60%</div>
            </div>
        </div>
        <div class="tec">
            <h5><i id="itec" class="fa-brands fa-java"></i>Java</h5>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="" aria-valuemin="0"
                aria-valuemax="100">60%</div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-4">
        <h3 id="soft">Soft Skills</h3>
        <div class="tec">
            <h5><i id="itec" class="fa-solid fa-network-wired"></i>Trabajo en equipo</h5>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="" aria-valuemin="0"
                aria-valuemax="100">100%</div>
            </div>
        </div>
        <div class="tec">
            <h5><i id="itec" class="fa-solid fa-comments"></i>Comunicacion</h5>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="" aria-valuemin="0"
                aria-valuemax="100">100%</div>
            </div>
        </div>
        <div class="tec">
            <h5><i id="itec" class="fa-solid fa-code"></i>Proactividad</h5>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="" aria-valuemin="0"
                aria-valuemax="100">100%</div>
            </div>
        </div>
        <div class="tec">
            <h5><i id="itec" class="fa-solid fa-hand-holding-heart"></i>Empatía</h5>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="" aria-valuemin="0"
                aria-valuemax="100">100%</div>
            </div>
        </div>
        
    </div>

</div>
