#icono{
    color: #f033b1;
    margin-right: 5px;
}

#sobreSkills{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#front, #back, #soft{
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline 5px #f033b1;
}

i{
    color: #f033b1;
    margin-left: 15px;
}


@media screen and (max-width: 400px){
    #sobreSkills{
        margin-left: 0px;
    }
}

@media screen and (max-width: 400px){
    #back, #soft{
        margin-top: 30px;
    }
}

@media screen and (min-width: 400px) and (max-width: 750px){
    #sobreSkills{
        margin-left: 0px;
    }
}

