<div class="row">
    <div id="sobreSkills" class="col-xs-12 col-md-10 col-lg-10">
        <h1><i id="icono" class="bi bi-person-check-fill"></i>Skills</h1>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-4">
        <h3 id="front">Front end <i class="bi bi-plus-circle" style="font-size: 1rem;" id=""></i></h3>
        <app-skills-f></app-skills-f>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-4">
        <h3 id="back">Back end <i class="bi bi-plus-circle" style="font-size: 1rem;" id=""></i></h3>
        <app-skills-b></app-skills-b>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-4">
        <h3 id="soft">Soft Skills <i class="bi bi-plus-circle" style="font-size: 1rem;" id=""></i></h3>
        <app-skills-s></app-skills-s>
    </div>

</div>