<div class="row">
    <div id="sobreProy" class="col-xs-11 col-md-10 col-lg-10">
        <h1><i class="bi bi-file-code-fill"></i>Proyectos</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, vel
            in nulla fugit itaque voluptatibus quam reprehenderit temporibus aliquam
            rem reiciendis possimus voluptas ipsa libero ad est quasi aperiam veniam!
        </p>
    </div>
        <div id="proyInfo" class="col-xs-10 col-md-4 col-lg-4">
            <div class="card bg-transparent mb-3" style="width: 20rem;">
                <img src="https://i.ibb.co/TrGrcJB/Encriptador.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Titulo</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic possimus voluptas nihil quam? Dolorem, ullam?</p>
                </div>
                <div class="card-bodyLink">
                    <a href="#" class="card-link">Demo</a>
                    <a href="#" class="card-link">Repositorio</a>
                </div>
            </div>
        </div>
        <div id="proyInfo" class="col-xs-10 col-md-4 col-lg-4">
            <div class="card bg-transparent mb-3" style="width: 20rem;">
                <img src="https://i.ibb.co/ZNPnC33/Portfolio-Oracle.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Titulo</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat officiis, dignissimos numquam id inventore illum!</p>
                </div>
                <div class="card-bodyLink">
                    <a href="#" class="card-link">Demo</a>
                    <a href="#" class="card-link">Repositorio</a>
                </div>
            </div>
        </div>
        <div id="proyInfo" class="col-xs-10 col-md-4 col-lg-4">
            <div class="card bg-transparent mb-3" style="width: 20rem;">
                <img src="https://i.ibb.co/2Fk9nwh/Primer-Portfolio-AP.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Titulo</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptas modi quis, quibusdam possimus voluptates?.</p>
                </div>
                <div class="card-bodyLink">
                    <a href="#" class="card-link">Demo</a>
                    <a href="#" class="card-link">Repositorio</a>
                </div>
            </div>
        </div>
        <div id="proyInfo" class="col-xs-10 col-md-4 col-lg-4">
            <div class="card bg-transparent mb-3" style="width: 20rem;">
                <img src="https://i.ibb.co/Z6RF25c/Portfolio-Arg-Prog.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Titulo</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem reiciendis voluptates ea iusto magni id.</p>
                </div>
                <div class="card-bodyLink">
                    <a href="#" class="card-link">Demo</a>
                    <a href="#" class="card-link">Repositorio</a>
                </div>
            </div>
        </div>

</div>
