i{
    color: #f033b1;
    margin-right: 5px;
}

.iconoMover{
    text-align: center;
    margin-left: 30px;
}

h1{
    margin-top: 40px;
}

#card{
    margin-top: 20px;
}

.btn{
    border-color: #f033b1;
    margin-left: 18px;
    color: #f033b1;
    background: transparent;
}


#btnEdit{
    background: transparent;
    border: none;
    margin-left: 60px;
}

#btnDelete{
    background: transparent;
    border: none;
    margin-left: 220px;
}

#MyModal{
    background-color: rgb(43, 43, 43) !important;
    border-color: #f033b1;
    color: rgb(196, 200, 200);
}

.btn-close{
    background-color: #f033b1 !important;
}

input, textarea {
    background-color: rgb(43, 43, 43) !important;
    border-color: #f033b1;
    color: rgb(196, 200, 200) !important;
}

#sobreProy{
    margin-left: 110px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#proyInfo{
    margin-bottom: 10px;
}

.card {
    margin-left: 40px;
    margin-top: 20px;
    border: 3px solid #f033b1; 
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgb(28, 27, 27);
}

.card-img-top{
    border-radius: 20px;
}

.card-body{
    border-bottom: 1px solid #f033b1;
}

.card-img-top:hover {
    transition: all 300ms;
    transform: scale(1.25);
    border: none;
    box-shadow: 5px 5px 5px 5px rgb(28, 27, 27);
    border-radius: 30px;
}

.card-link{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    color: rgb(196, 200, 200);
    text-decoration: none;
    border-style: solid;
    border-width: 0.3px;
    border-color: #f033b1;
    border-radius: 10px;
}

.card-link:hover{
    background-color: rgb(116, 52, 95);
    transition: all 300ms;
    transform: scale(1.04);
    box-shadow: 5px 5px 5px 5px rgb(28, 27, 27);
}


@media screen and (max-width: 400px){
    .row{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 400px){
    #sobreProy{
        margin-left: 0px;
    }
}



@media screen and (max-width: 400px){
    .card{
        width: 14rem;
        margin-left: 3px;
    }
}

@media screen and (max-width: 400px){
    #btnDelete{
        margin-left: 140px;
    }
}


@media screen and (min-width: 400px) and (max-width: 750px){
    #proyInfo{
        margin-left: 0px;
    }
}

@media screen and (min-width: 400px) and (max-width: 750px){
    h1{
        margin-top: 40px;
    }
}

@media screen and (min-width: 400px) and (max-width: 750px){
    .btn{
        margin-left: -200px;
    }
}

@media screen and (min-width: 400px) and (max-width: 750px){
    .card{
        width: 14rem;
    }
}
